<div class="top-bar">
    <a href="/">
        <div class="site-graphics">
            <span><%= site.name %> Answers</span>
        </div>
    </a>
    <div class="right-stack">
        <% if(currentUser === null) { %>
            <a href="/users/signup" class="nav-button signup">Sign Up</a>
            <a href="/users/signin" class="nav-button signin">Sign In</a>
        <% } else  { %>
            <a href="/users/<%= currentUser.id %>" class="user-badge">
                <img src="<%= currentUser.profile_image %>">
                <span class="username"><%= currentUser.username %></span>
            </a>
        <% } %>
        <a href="/questions/ask" class="nav-button ask-question ">Ask A Question!</a>
        <div id="topbarHamburger" class="topbar-hamburger fa fa-bars"></div>
    </div>

    <div id="topbarExpand">
        <nav class="nav-list">
            <span class="nav-list--title"><%= site.name %> Answers</span>
            <div class="nav-list--items">
                <a href="/questions" class="nav-list-item">Questions</a>
                <% if(site.parent_site) { %>
                    <a href="https://<%= site.parent_site.subdomain %>.socraticanswers.com" class="nav-list-item">Parent</a>
                <% } %>
                <% if(site.meta_site) { %>
                    <a href="https://<%= site.meta_site.subdomain %>.socraticanswers.com" class="nav-list-item">Meta</a>
                <% } %>
                <% if(currentUser !== null) { %>
                    <span class="nav-list--divider"></span>
                    <a href="/users/logout" class="nav-list-item nav--logout-button">Logout</a>
                <% } %>
            </div>
        </nav>
    </div>
</div>
