<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('../components/common/standard-head') %>
    <link rel="stylesheet" href="/css/md.css">
    <link rel="stylesheet" href="/css/index/question-list.css">
    <link rel="stylesheet" href="/css/ask.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script src="/js/markdown-editor.js"></script>
    <title>Ask A Question!</title>
</head>
<body>
<%- include('../components/common/topbar' ) %>
<div class="content">
    <form method="post">
        <div class="question-wrapper">
            <% errors.forEach(error => { %>
            <span class="error"><%= error %></span>
            <% }); %>
            <label>Title</label>
            <input type="text" name="title" value="<%= title %>" class="question--title-input">
            <label>Body</label>
            <textarea id="qinput" name="body" class="question--body-input"><%= body %></textarea>
            <div id="qpreview" class="question--body-preview"></div>
            <label>Tags (at least 1; separated by commas)</label>
            <div id="tagPreview" class="question-tags"></div>
            <input id="tagInput" type="text" name="tags" placeholder="questions, answers, and-dashes-too"
                   class="question--tags-input" value="<%= tags %>">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" value="Ask It!" class="btn askit-submit">
    </form>
</div>
<script src="/js/ask.js"></script>
</body>
</html>
