<div class="question">
    <div class="question-metadata">
        <div>
            <span class="question-score"><%= question.score %></span>
            <span class="question-metadata-label">Score</span>
        </div>
        <div>
            <span class="question-answers"><%= question.answers %></span>
            <span class="question-metadata-label">Answers</span>
        </div>
    </div>
    <div class="question-content">
        <a class="question-title"><%= question.title %></a>
        <div class="question-subtext">
            <span>created <%= question.getCreatedFriendlyTimeAgo() %> by</span>
            <a href="" class="question-creator"><%= question.creator.username %></a>
        </div>
        <div class="question-tags">
            <% question.taglist.forEach(tag => { %>
                <span class="question-tag"><%= tag %></span>
            <% }); %>
        </div>
    </div>
</div>
